@charset "utf-8";
/*レイアウトーーーーーーーーーー*/
body{
    font-size: 14px;
    color: #A6ADB4;
    line-height: 1.71;
    font-family: "Helvetica", sans-serif,Arial,;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}
li{
  list-style: none;
}
.l-header{
    margin: 30px 0 60px 0;
    background-color: #FFFFFF;
}
.l-main{

}
.l-footer{

}
.l-inner{
    width:90%;
    max-width: 1170px;
    margin: 0 auto;

}
.l-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.l-gnav{
    padding:30px 0;
}
.l-gnav li{
    margin-left:20px;
}
.l-col1{
    width: 47.5%;
}

/*モジュールーーーーーーー*/
.morenews{
    background-color: #FFFFFF;
    margin: 30px 0;
}
h2{
    color: #202124;
    font-size: 23px;
    font-weight: bold;
    border-bottom: #EBEDED 2px solid;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.news-category{
    color: #FA6980;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.66em;
}
.news-title{
    color: #202124;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.66;
    margin: 5px 0 10px 0;
}
.TRENDING{
    background-color: #F6F8F9;
    margin:60px 0;
}